.landingPageContainer{
    background-image: linear-gradient(to bottom, rgba(15, 20, 50, 0.3), rgba(98, 107, 111, 0.3)),
    url(../../images/landingPage2.jpg); 
    height: 80vh;
    /* width: 100vw; */
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.landingPageBrandText{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 20%;
    top: 30%;
    text-align: left;
    color: #ffffff;
}

#habeshaTechShop {
    font-size: 5em;
    font-weight: 00;
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
}

#brandStatement{
    font-size: 1.2em;
}

.landingPageButton{
    width: 15em;
    padding: 1em;
    background-color: #33928C;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.landingPageButton:hover{
    background-color: #166862;
    
}