.imageSliderContainer{
    // background-color: black;
    border-radius: 20px;
    position: relative;
}

.sliderImage{
    height: 30em;
    // width: 30em;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imageSliderButton{
    border: none;
    font-weight: 700;
    background-color: transparent;
   
    color: black;
}


#prevBtn {
    position: absolute;
    left: 1%;
    top: 40%
}

#nextBtn {
    position: absolute;
    right: 1%;
    top: 40%
}