.ProductsListPage{
    display: grid;
    // background-color: aquamarine;
    grid-template-columns: 1fr 4fr;
    padding: 2em;
    // background-color: #F9F9F9;
}


.productsListContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 5em;
    padding: 1em;
    margin-left: 3em;
    .singleProduct {
        padding: 0;
        margin: 0.7em;
        width: 18em;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr;
       

        .productImage{
            height: 14em;
            width: 100%;
            object-fit: cover;
            margin: 0;
            padding: 0;
            border-radius: 10px 10px 0 0;
        }

        .productDetials{
            margin-top: 1em;
            display: flex;
            justify-content: space-between;
            padding: 0 1em 0 1em;
            color: #30514F;
            
            h3, h4, p{
                margin: 0.1em;
            }
        }

        .buyNow{
            background-color: transparent;
            border: 2px solid #33928C;
            border-radius: 80px;
            color:  #33928C;
            cursor: pointer;
            font-weight: bold;
            padding: 0.6em;
            // margin: 1em 13em 2em 1em;
            margin: 0.4em 2em 2em 2em;
        }

        .buyNow:hover{
            background-color: #33928C;
            color: #ffffff;
        }
    }
}